/*https://ru.wikipedia.org/wiki/Content_Delivery_Network READ*/
/*https://developers.google.com/fonts/?hl=ru READ*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
    font-family: 'Lato-Hairline';
    src: url('../fonts/Lato-Hairline.eot');
    src: url('../fonts/Lato-Hairline.eot?#iefix')format('embedded-opentype'),
    url('../fonts/Lato-Hairline.woff') format('woff'),
    url('../fonts/Lato-Hairline.ttf') format('truetype');
    
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato-Light.eot');
    src: url('../fonts/Lato-Light.eot?#iefix')format('embedded-opentype'),
    url('../fonts/Lato-Light.woff') format('woff'),
    url('../fonts/Lato-Light.ttf') format('truetype');
    
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/LatoRegular.eot');
    src: url('../fonts/LatoRegular.eot?#iefix')format('embedded-opentype'),
    url('../fonts/LatoRegular.woff') format('woff'),
    url('../fonts/LatoRegular.ttf') format('truetype');
    
    font-style: normal;
    font-weight: normal;
}